#post__hero {
    background-position: center center;
    background-size: cover;
    font-size: 8rem;
    position: relative;
    .subtitle span{
        display: flex;
        align-items: center;
        margin-right: .9rem;
        .icon {
            margin-right: .5rem;
        }
    }
}

.hero__before:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);
}

#post__hero {
    opacity: 1 !important;
    background: linear-gradient(90.26deg,
            rgba(0, 58, 119, 0.9) 17.75%,
            rgba(64, 226, 238, 0.61) 99.89%);
    background-size: cover;
}