@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


$menu-item-hover-color: hsl(171, 100%, 41%);

$breadcrumb-item-color: white;
$breadcrumb-item-hover-color: hsl(171, 100%, 41%);
$breadcrumb-item-active-color: hsl(171, 100%, 41%);
@import "~bulma/bulma.sass";

body {
    font-family: 'Open Sans', sans-serif;
}

.rich-text {

    h2,
    h3 {
        margin-top: 1em;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        padding-bottom: 1em;
        color: rgba(27, 27, 27, 0.84);
        font-size: 1.1rem;
    }
}